body::-webkit-scrollbar {
	background-color: rgba(0, 0, 0, 0);
	width: 0px;
}

#map::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: transparent
}

#map::-webkit-scrollbar-thumb {
	background-color: #FFCD32;
}

#map::-webkit-scrollbar-corner {
	background-color: transparent
}

body {
	font-size: 22px;
	margin: 0;
	font-family: 'Play', sans-serif;
	color: #710527;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Play', sans-serif;
}

div {
	line-height: 1.5;
}

h1 {
	font-weight: 100;
	padding: 40px 40px 0;
	font-size: 1.8em;
	line-height: initial;
	color: #0B4747;
}

h2 {
	font-weight: 100;
	padding: 40px 40px 0;
	font-size: 1.8em;
	line-height: initial;
	color: #0B4747;
}

h3 {
	font-weight: 100;
	padding: 40px 40px 0;
	color: #0B4747;
	font-size: 1.3em;
	line-height: initial;
}

h4 {
	font-weight: 100;
	margin-bottom: 14px;
	line-height: initial;
	font-size: 1.17em;
}

a {
	width: min-content;
	outline: none;
	text-decoration: none;
	color: #710527;
}

a:active {}

#head {
	height: 68px;
	width: 100%;
	background-color: #2BDBDB;
	position: absolute;
	top: 0;
	padding-top: 38px;
	min-width: 810px
}

#head *::selection {
	background-color: transparent;
	color: inherit;
}

#head *::-moz-selection {
	background-color: transparent;
	color: inherit;
}

#nav {
	right: 4.5%;
	position: absolute
}

#nav ul li {
	display: inline-block;
	margin-right: 70px;
	min-width: 95px;
}

#nav ul a {
	color: #97113C;
	padding-bottom: 2px;
}

#nav ul a:hover {
	color: #F5306F;
}

#nav ul li a.current {
	border-bottom: 2px solid #F5306F;
	color: #F5306F;
}

ul {
	margin: 0;
	padding: 0;
}

#body,
#form {
	top: 150px;
	position: absolute;
	width: 100%;
	min-width: 810px;
}

a {
	color: #F5306F;
}

a:hover {
	color: #036868;
}

#form>div {
	width: 100%;
	position: absolute;
}

#form div:first-child {
	position: initial;
}

#body>div:first-child {
	margin-left: 8%;
	width: 50%;
	min-width: 680px;
}

#body>div>li,
#body>div:first-child>div {
	margin: 20px 40px 0px;
}

#body>div:first-child>table {
	margin: 10px 40px 0px;
}

#body>div:first-child>.success {
	margin: 0px 40px;
}

#content {
	margin-left: 8%;
	margin-bottom: 50px;
	float: left;
	background-color: #C0F8F8;
	width: 50%;
	min-height: 380px;
}

#content h1,
#content h2 {
	background-color: #FFCD32;
}

#content h3 {
	background-color: #2BDBDB;
}

#content>div {
	margin: 20px 40px;
	margin-top: 26px;
	min-height: 300px;
	font-size: 22px;
	line-height: 1.8;
}

#content #map {
	overflow: overlay;
	min-height: 680px;
	height: 99vh;
	max-height: 940px;
	margin: 0;
	padding: 10px;
	outline: none;
}

#side {
	font-size: 20px;
	width: 26%;
	float: left;
	margin-left: 8%;
	min-width: 380px;
}

#side>div {
	background-color: #FFE184;
	width: calc(100% - 60px);
	min-height: 170px;
	margin-bottom: 50px;
	padding: 20px 30px;
}

#createStud,
#createClass {
	display: none;
}

input:focus,
button:focus,
a.button:focus {
	outline: none;
}

table {
	border-collapse: collapse;
	display: block;
}

table * {
	width: 100%;
	display: inline-block;
}

#side table {
	margin: 10px 0px 20px;
}

#body>div:first-child>table tbody {
	overflow: overlay;
	max-height: calc(100vh - 380px);
}

tbody::-webkit-scrollbar {
	width: 4px;
	background-color: transparent
}

tbody::-webkit-scrollbar-thumb {
	background-color: #FFCD32;
}

tbody::-webkit-scrollbar-corner {
	background-color: transparent
}

tr {
	border-bottom: 1px solid #97113C;
}

.password {
	min-width: 100px;
	width: calc(50% - 62px);
}

td[contenteditable="true"] {
	cursor: pointer;
}

.name,
#results .name {
	width: calc(25% + 20px);
}

.class {
	padding: 0;
}

.result {
	width: calc(25% - 27px);
}

#results td,
#results th {
	width: calc(37% - 54px);
}

td,
th {
	font-weight: 100;
	padding: 5px 10px 5px 20px;
	text-align: left;
	outline: none;
	width: calc(25% - 50px);
}

th {
	color: #F5306F;
}

tbody tr:hover {
	background-color: #FD83AA;
}

#form [type=radio] {
	display: none;
}

#form {
	margin: auto;
	width: 24%;
	position: relative;
	min-width: 300px;
}

form {
	width: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

form ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

form li,
#body li {
	display: block;
	padding: 0px;
	border: 1px solid #97113C;
	margin-bottom: 30px;
	width: 100%;
}

#form .radio {
	height: 45px;
	justify-content: center;
}

#sign>label,
#reg>label {
	margin-bottom: 18px;
	display: inline-block;
}

#form [type="radio"]+label {
	color: #777;
}

#form [type="radio"]:checked+label {
	color: #97113C;
	border-bottom: 1px solid #97113C;
	display: inline-block;
}

#form>label {
	padding: 0 2px;
}

#sign [type="radio"]:checked~label~form[method=post]>* {
	display: block;
	transform: translateX(0);
}

#form .radio label {
	margin: 15px;
	padding: 0px;
	line-height: 15px;
	height: 15px;
	margin-left: 0px;
	cursor: pointer;
}

#sign .radio>label:nth-child(2) {
	margin-left: -40px;
}

#form .radio>[type="radio"]+label:nth-child(4) {
	cursor: default;
	color: #97113C;
}


#form>label {
	cursor: pointer;
}

#form>label:nth-child(4) {
	cursor: default;
	margin: 0 8px;
}

#form>div {
	display: none;
}

#form [type="radio"]:checked+label+div {
	display: block;
	position: absolute;
	margin-top: 15px;
	width: 100%;
}

form button {
	height: 43px;
	cursor: pointer;
	margin: 0px;
	padding: 9px;
	border: 0;
	width: 100%;
	font-size: 16px;
}

form label,
li label {
	display: block;
	float: left;
	margin-top: -16px;
	margin-left: 9px;
	background: #fff;
	height: 14px;
	padding: 2px 5px 2px 5px;
	font-size: 16px;
	overflow: unset;
	font-family: Arial, Helvetica, sans-serif;
}

.error {
	margin-bottom: 18px;
	font-size: 19px;
	color: #F5306F;
}

.success {
	margin-bottom: 18px;
	font-size: 18px;
	color: #036868;
	display: block;
}

form input,
form textarea,
form select,
li select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: calc(100% - 18px);
	margin: 9px;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
}

form textarea {
	resize: none;
	height: 150px;
	font-size: 14px;
	line-height: 20px;
	margin-top: 12px;
}

select {
	font-size: 20px;
	color: #710527;
	cursor: pointer;
}

#body>div>div>li {
	width: 24%;
	display: inline-block;
	margin-left: 28px;
	margin-bottom: 0;
}

option {
	width: 110%;
}

#content a.button,
#content button {
	border: 0px solid #97113C;
	font-size: 20px;
	background-color: transparent;
	text-align: left;
	width: 42%;
}

#content a.button {
	width: calc(42% - 20px);
}

a.button,
button {
	display: block;
	border: 1px solid #97113C;
	background-color: #fff;
	text-align: center;
	cursor: pointer;
	color: #710527;
	width: 100%;
	line-height: 27px;
	padding: 10px;
}

#content a.button:hover,
#content button:hover,
a.button:hover,
button:hover {
	background-color: #FDC5D7;
}

#content a.button:active,
#content button:active {
	background-color: #C0F8F8;
}

table select {
	width: 100%;
	-moz-appearance: none;
	-webkit-appearance: none;
	height: 100%;
	font-size: 22px;
	line-height: inherit;
	border: 0;
	background-color: transparent;
	padding: 5px 10px 5px 20px;
	cursor: pointer;
	outline: none;
}

table option {
	width: 100%;
	outline: none;
}

table select::-ms-expand {
	display: none;
}

#body>li {
	width: 10%;
}

#layers {
	display: flex;
	flex-direction: row;
	width: 100%;
}

#layers *::selection {
	background-color: transparent;
}

label::selection {
	background-color: transparent;
}

#layers li {
	line-height: 60px;
	text-align: center;
	padding: 10px;
	margin: 0;
	cursor: pointer;
	width: 25%;
}

.chosen {
	background-color: #FFCD32;
}

path {
	fill: #FFF1C6;
	stroke: #FFCD32;
	stroke-width: 0.7;
	stroke-opacity: 1
}

.active path:hover {
	stroke-width: 1.5;
	fill: #80F8F8;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-ms-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.active path,
circle {
	cursor: pointer;
}

#river path {
	fill: none;
	stroke: #2BDBDB;
	stroke-width: 1.8;
	stroke-linecap: butt;
	stroke-linejoin: miter;
}

.active#river path:hover {
	stroke-width: 4.6;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-ms-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

#river .fill {
	fill: #C0F8F8;
}

.active#river .fill:hover {}

circle {
	r: 6px;
	opacity: 1;
	fill: #FFCD32;
	stroke-width: 0.2
}

.active circle:hover {
	stroke-width: 0.2;
	r: 18px;
	fill: #2BDBDB;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-ms-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.wrong,
path.wrong:hover,
circle.wrong:hover {
	fill: #F5306F;
}

.right,
path.right:hover,
circle.right:hover {
	fill: #81F430;
}

#river .wrong {
	stroke: #F5306F;
}

#river .right {
	stroke: #81F430;
	stroke-width: 1.4;
}